.hide {
    display: none;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.v-text-field__slot input[type=text] {
    font-size: 20px;
}

.large-button {
    font-size: 16px;
}

.incre-del-button {
    font-size: 30px;
}

.login-link {
    height: 70px;
    width: 70px;
}

.login-icon {
    position: absolute;
    bottom: -70px;
    right: 100px;
    background-size: contain;
    z-index: 1000;
}

.title-container {
    margin-top: 40px;
}

a {
    text-decoration: none !important;
    display: inline-block !important;
}

p {
    margin-bottom: 0px !important;
}

.area {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .body-container {
        position: relative;
        width: 400px;
        margin: 0 auto;
    }

    .logout-button {
        position: absolute;
        top: -30px;
        left: 50px;
    }

}

@media screen  and (min-width: 601px) {
    .body-container {
        position: relative;
        width: 600px;
        margin: 0 auto;
    }

    .logout-button {
        position: absolute;
        top: -30px;
        left: 100px;
    }

}
